*{
	box-sizing: border-box;
}
body{
	background: #004854;
	padding: 50px;
}
.clear:after{
	display: block;
	content: '';
	clear:both;
}
.wrap{

}
 div{

}
.bl1{
	width: calc(100% / 3 * 2);
	height: 660px;
	float: left;
	background: blue;
}
.bl1-wrap1{
	height: calc(100% / 3 * 2);
	width: 100%;
}
.bl1-wrap1 > div:first-child{
	width: calc(50% - 10px);
	height: calc(100% - 10px);
	float: left;
	margin: 5px;
}
.bl1-wrap1 > div:last-child{
	width: calc(50% - 5px);
	height: calc(100% - 10px);
	float: left;
	margin: 5px 5px 5px 0;
}
.bl1-wrap1 div:last-child{
	background: #ccdadd;
}
.bl1-wrap1 div:first-child div{
	width: 100%;
	height: calc((100% - 5px) / 2);
	background: #ccdadd;
}
.bl1-wrap1 div:first-child div:first-child{
	margin-bottom: 5px;
}
.bl1-wrap2{
	color: blue;
	height: calc(100% / 3);
	width: 100%;
}
.bl1-wrap2 div:first-child{
	width: calc((100% - 20px) / 4);
	height: calc(100% - 5px);
	float: left;
	background: #ccdadd;
	margin: 0 5px 5px 5px;
}
.bl1-wrap2 div:nth-child(2){
	width: calc((100% - 20px) / 2);
	height: calc(100% - 5px);
	float: left;
	background: #ccdadd;
	margin: 0 0 5px 0;
}
.bl1-wrap2 div:last-child{
	width: calc((100% - 20px) / 4);
	height: calc(100% - 5px);
	float: left;
	background: #ccdadd;
	margin: 0 5px 5px 5px;
}

                    















































.bl2{
	width: calc(100% / 3);
	height: 660px;
	float: left;
	background: blue;
}
.bl2-wrap1{
	width: calc(100% - 5px);
	height: calc((100% / 3) - 10px);
	margin:5px 5px 5px 0;
}
.bl2-wrap1 div{
	float: left;
	height: 100%;
	width: calc((100% - 5px) / 2);
	background: #ccdadd;
}
.bl2-wrap1 div:first-child{
	margin-right: 5px;
}

.bl2-wrap2{
	width: calc(100% - 5px);
	height: calc((100% / 3) * 2 - 5px);
	margin:0 5px 5px 0;
}
.bl2-wrap2 > div{
	float: left;
	height: 100%;
	width: calc((100% - 5px) / 2);

}
.bl2-wrap2 div:last-child{
	background: #ccdadd;
}
.bl2-wrap2 div:first-child{
	margin-right: 5px;
}

.bl2-wrap2 div:first-child div{
	width: 100%;
	height: calc((100% - 5px) / 2);
	background: #ccdadd;
}
.bl2-wrap2 div:first-child div:first-child{
	margin-bottom: 5px;
}







